<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href="static/css/kubercss.css" rel="stylesheet" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/themes/default/style.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/jstree.min.js"></script>
    </head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><strong>Kuber-Yaml-Helper</strong></a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>

<div class="container">
    <div class="col-md-5 plugin-view border-info">
        <div class="plugin-in">
            <h5>Choose an API object</h5>
            <hr>
            <div id="obj-buttons" class="btn-group" role="group" aria-label="...">
            </div>
            <hr>
            <h5>Choose the API version</h5>
            <hr>
            <div id="version-buttons" class="btn-group"></div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6 plugin-view border-info">
        <div class="plugin-in">
            <h5>Kubernetes API tree</h5>
            <hr>
            <div id="container"></div>

        </div>
    </div>
</div>

<script>
$(function () {
  $.ajax({
      url:'/get_object',
      type:"get",
      success:function (data) {
          var objs = data['obj'];
          for (item in objs){
              $('#obj-buttons').append("<button type=\"button\" class=\"btn btn-default obj-button\">"+ objs[item] +"</button>")
          }
      }
  })
});

$(document).on("click", ".obj-button", function(){

    var obj = $(this).text();
    $.ajax({
        url:'/get_version',
        data:{'obj': obj},
        type:'get',
        success:function (data) {
            var versions = data['versions'];
            add_version_button(versions, obj);
        }
    })
});


function add_version_button(objs, obj) {
    $("#version-buttons").empty();
    for (item in objs){
              $('#version-buttons').append("<button id="+obj+" type=\"button\" class=\"btn btn-default version-button\">"+ objs[item] +"</button>")
          }
}

function kuber_tree(init_id) {
  $('#container').jstree({
    'core' : {
      'data' : {
        "url" : "/node/"+init_id,
        "data" : function (node) {
          return { "object_name" : node.id};  //, "attr_name": node.text
        }
      }
    },
    "types" : {
    "default" : {
      "icon" : "glyphicon glyphicon-menu-hamburger"
    },
    "leaf" : {
      "icon" : "glyphicon glyphicon-pencil"
    }
  },
  "plugins" : ["types"]
  });
};

$(document).on("click", ".version-button", function(){
    // console.log(this);
    var obj = $(this).attr('id');
    var version = $(this).text();
    var init_id = version + '-' + obj;
    $('#container').empty();
    kuber_tree(init_id);
});
</script>
</body>

</html>